<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container"> <!-- "container" é um recurso do bootstrap para centralizar o conteúdo -->
        <div class="card" id="fomulario-pergunta"> <!-- Usado para colocar nosso form em uma especie de card, dividido em header e body -->
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>

            <div class="card-body">
                <form method="POST" action="/salvapergunta">
                    <label>Título</label>
                    <input type="text" placeholder="Título" class='form-control' name='titulo'> <!-- form-control serve para formatar formulário-->
                    <br><label>Descrição</label>
                    <textarea placeholder="Descreva sua pergunta" class='form-control' name='descricao'></textarea>
                    <br>
                    <button class="btn btn-dark">Perguntar</button> <!--btn e btn-success formatam o botão-->
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs') %>